 .error {
     color: red;
     font-style: italic;
     font-weight: 700;
 }

 .content {
     min-height: 500px;
 }

 .footer {
     background: #f0042c;
     text-align: center;
     padding: 20px 0;
 }

 .footer p {
     margin: 0;

 }